<a href="https://colab.research.google.com/github/Yasvir/proj/blob/main/soceupd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [73]:

df=pd.read_csv("drive/MyDrive/crack_detection.csv")

In [74]:
df

,Unnamed: 0,mean_r,std_r,kur_r,skew_r,mean_g,std_g,kur_g,skew_g,mean_b,...,contrast_r,contrast_g,contrast_b,corr_rg,corr_rb,corr_gb,moment_r,moment_g,moment_b,label
0,0,107.5734,29.267480,0.744029,0.408828,110.2533,26.953218,1.254689,-0.135613,113.5715,...,9.181953,177.0,173.0,162.0,0.951368,0.913876,0.803333,856.585412,726.475939,0
1,1,178.6713,14.917756,3.192406,0.238175,184.4947,14.882156,3.035196,0.141160,190.8538,...,9.207314,142.0,136.0,129.0,0.988325,0.989474,0.976787,222.539456,221.478572,0
2,2,176.6517,34.618255,-0.146336,-0.421552,161.3083,33.688699,0.057178,-0.521476,147.2760,...,9.186737,199.0,200.0,194.0,0.968581,0.967398,0.890845,1198.423587,1134.928451,1
3,3,113.5760,20.084502,0.719752,0.737728,114.0056,19.536222,0.655846,0.729521,113.6179,...,9.197973,146.0,142.0,138.0,0.987383,0.983663,0.961305,403.387224,381.663969,0
4,4,125.3565,29.251595,0.430344,0.833496,129.5277,28.661968,0.475502,0.804161,131.9745,...,9.189257,173.0,176.0,177.0,0.980727,0.986702,0.950291,855.655808,821.508433,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,147.4849,39.849040,-0.413560,-0.713162,143.8830,36.109081,-0.333042,-0.721668,138.3563,...,9.180812,196.0,180.0,168.0,0.991360,0.988178,0.968726,1587.945972,1303.865711,1
696,696,131.6387,22.462007,0.060316,-0.598803,129.3470,20.965238,0.249974,-0.611380,125.9734,...,9.199403,169.0,163.0,157.0,0.992205,0.977108,0.954988,504.541762,439.541191,1
697,697,124.9098,24.410827,-0.014904,0.298252,130.4604,23.675959,-0.086843,0.180634,135.0006,...,9.195094,152.0,145.0,143.0,0.981116,0.986397,0.953482,595.888464,560.551032,0
698,698,100.5366,41.107908,-0.385692,0.309762,98.8532,40.835684,-0.356037,0.269909,98.9559,...,9.125664,233.0,231.0,227.0,0.996501,0.997454,0.994056,1689.860060,1667.553050,1
699,699,138.0759,6.627016,2.339072,0.414758,137.9345,6.328697,2.939153,0.477630,137.8309,...,9.209413,93.0,91.0,92.0,0.962479,0.948542,0.926412,43.917339,40.052410,0

In [75]:
#from sklearn.linear_model import LogisticRegression
#clf = LogisticRegression(solver='liblinear', random_state=0)

In [76]:
X = df.drop("label", axis=1)
y = df["label"]

In [77]:


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
    test_size=0.2, shuffle = True, random_state = 8)


X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, 
    test_size=0.25, random_state= 8) # 0.25 x 0.8 = 0.2

In [ ]:

X_val.shape

(140, 24)

In [ ]:
X_test.shape

(140, 24)

In [ ]:

X_train.shape

(420, 24)

In [79]:

import numpy as np
 
class LogisticRegression:
    def __init__(self,x,y):      
        self.intercept = np.ones((x.shape[0], 1))  
        self.x = np.concatenate((self.intercept, x), axis=1)
        self.weight = np.zeros(self.x.shape[1])
        self.y = y
         

    def sigmoid(self, x, weight):
        z = np.dot(x, weight)
        return 1 / (1 + np.exp(-z))
   
    def loss(self, h, y):
        return (-y * np.log(h) - (1 - y) * np.log(1 - h)).mean()
     
 
    def gradient_descent(self, X, h, y):
        return np.dot(X.T, (h - y)) / y.shape[0]
 
     
    def fit(self, lr , iterations):
        for i in range(iterations):
            sigma = self.sigmoid(self.x, self.weight)
             
            loss = self.loss(sigma,self.y)
 
            dW = self.gradient_descent(self.x , sigma, self.y)
             
            #Updating the weights
            self.weight -= lr * dW
 
        return print('fitted successfully to data')
 
    def predict(self, x_new , threshold):
        x_new = np.concatenate((self.intercept, x_new), axis=1)
        result = self.sigmoid(x_new, self.weight)
        result = result >= threshold
        y_pred = np.zeros(result.shape[0])
        for i in range(len(y_pred)):
            if result[i] == True: 
                y_pred[i] = 1
            else:
                continue
                 
        return y_pred

In [105]:
regressor = LogisticRegression(X_train,y_train)
 
#
regressor.fit(100 , 4000)
0
 
y_pred = regressor.predict(X_train,0.5)
 
print('accuracy -> {}'.format(sum(y_pred == y_train) / y_train.shape[0]))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: RuntimeWarning: divide by zero encountered in log
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: RuntimeWarning: overflow encountered in exp

fitted successfully to data
accuracy -> 0.7785714285714286

In [84]:

 
y_pred = regressor.predict(X_val,0.5)
 
print('accuracy -> {}'.format(sum(y_pred == y_val) / y_val.shape[0]))

accuracy -> 0.7785714285714286

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: RuntimeWarning: overflow encountered in exp

In [83]:
y_pred = regressor.predict(X_test,0.5)
 
print('accuracy -> {}'.format(sum(y_test == y_pred) / y_test.shape[0]))

accuracy -> 0.7071428571428572

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: RuntimeWarning: overflow encountered in exp

In [85]:
y_test.shape[0]

140